@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Raleway:wght@100&display=swap');
html {
  background-color: #f7ece6;
  opacity: 1;
}
.App {
  text-align: center;
  background-color: #f7ece6;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=91190), auto !important;
}
.logo{
  height: 35vmin;
  width: 210vmin;
  text-align: center;
}
video {
  width: 100%;
  height: 90%;
  object-fit: cover;
  margin-top: 0px;
  margin-left: 0px;
  opacity: 0.9;
}
.main {
  width: 100%;
  height: 100vh;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  max-width: 100%;
  background-color: #f7ece6;
}
.zakpic{
  border-radius: 3px;
  width: 500px;
  height:800px;
  display: block;
}
.zaktwo{
  border-radius: 3px;
  width: 600px;
  height:800px;
  margin-right: 800px;
}
.image {
  flex-basis: 250%;
  border: 3px 
}
.imagetwo{
  flex-basis: 250%;
  border: 1px;
  
}
.text {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 50px;
  font-family: 'Inter', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;

}
.contactus{
  font-size: 20px;
  padding-left: 40px;
  font-family: 'Inter', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin-top: 150px;

}
.customer{
  font-size: 60px;
  padding-left: 20px;
  padding-right: 50px;
  font-family: 'Inter', sans-serif;
  font-family: 'Raleway', sans-serif;
  padding-top: -500px;
}
#carouselHero .carousel-item img {  
  object-position: center;
  overflow: hidden;
  height:70vh;
  object-fit: cover;
  
}
.wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 20rem));
  gap: 20rem;
  justify-content: center;
}
.ordercards{
  margin-top: 120px;
  margin-bottom: 120px
}

.cakecarousel{
  margin-top: 120px;
  margin-bottom: 110px
}
.slider-wrapper {
  width: 600px;
  margin: auto;
}
.slick-slide {
  text-align: center;
  position: relative;
}
.slick-slide:focus {
  outline: none;
}
.slick-slide-title {
  text-transform: capitalize;
  font-family: 'Inter', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.slick-slide-image {
  max-width: 100%;
  height: 750px;
  width: 600px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3),
    0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}

.cupcakecarousel{
  margin-top: 120px;
  margin-bottom: 110px
}

.cupcake-slider-wrapper{
  width: 800px;
  margin: auto;
}
.cupcake-slick-slide{
  text-align: center;
  position: relative;
}
.cupcake-slick-slide-title{
  text-transform: capitalize;
  font-family: 'Inter', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.cupcake-slick-slide-image{
  max-width: 100%;
  height: 750px;
  width: 800px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3),
    0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}

.clients-slider-wrapper{
  width: 1000px;
  margin: auto;
  margin-bottom: 120px;
  margin-top: 100px;
}
.clients-slick-slide{
  text-align: center;
  position: relative;
}
.clients-slick-slide-image{
  max-width: 100%;
  height: 750px;
  width: 1000px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3),
    0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}
.form{
  margin-top: 110px;
  margin-bottom: 100px
}
.social{
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.flavors{
  margin-left: 50px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.fillings{
  margin-top: 100px;
  margin-left: 20px
}
.contactbutton{
  margin-bottom: 200px;
}
.atag {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.contactform{
  font-family: 'Inter', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.footer{
  margin-top: auto
}
.products{
  margin-left: 50px
}
.product-title{
  font-family: 'Inter', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 50px
}
.ul {
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.flavor-titles{
  font-family: 'Inter', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}